<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                
            </div>
          
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

<script>
    @* Data attribute’ler üzerinden fetch kullanarak sayfaya özel modal içeriğini dinamik olarak render ediyorum.  *@
    // Amaç, sayfa yenilemeden yalnızca modal içeriğini dinamik yüklemekti;
    // bunu klasik controller yerine fetch + ViewComponent ile client-side rendering yaklaşımıyla çözdüm.
    function onOpenModal(btn){
        var title = btn.dataset.title;
        var page = btn.dataset.page;
        document.getElementById("exampleModalLabel").innerText = title;

        fetch(`/Admin/OpenModal/Open?page=${page}`)
        .then(res => res.text())
        .then(html => {
            document.getElementById("modalBody").innerHTML = html;
        })
         var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
        modal.show();
    }

</script>