<form>
    <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" id="productName"  placeholder="Product Name">
    </div>
    <div class="form-group">
        <label for="productQuantity">Product Quantity</label>
        <input type="text" class="form-control" id="productQuantity" placeholder="Product Quantity">
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>