<form>
    <div class="form-group">
        <label for="skillName">Skill Name</label>
        <input type="text" class="form-control" id="skillName" placeholder="Skill Name">
    </div>
    <div class="form-group">
        <label for="skillValue">Skill Value</label>
        <input type="text" class="form-control" id="productQuantity" placeholder="Skill Value">
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>